<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BlipFace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BlipFace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <BlipFace.Properties.Settings>
      <setting name="WebGetTimoutSec" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="StatusesLimit" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="RefreshTimeSec" serializeAs="String">
        <value>20</value>
      </setting>
    </BlipFace.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBlipFaceServices" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://stat.blipface.pl/BlipFaceServices.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBlipFaceServices"
          contract="BlipFaceServices.IBlipFaceServices" name="WSHttpBinding_IBlipFaceServices">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <userSettings>
    <BlipFace.Properties.Settings>
      <setting name="AutoLogon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlwaysInTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimalizeToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PlaySoundWhenNewStatus" serializeAs="String">
        <value>True</value>
      </setting>
    </BlipFace.Properties.Settings>
  </userSettings>
</configuration>